body{
    width: 80%;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
}
#header{
    width: 100%;
    height: auto;
    background-color: olive;
    font-family: 'Hanalei Fill', cursive;
    color: aliceblue;
    text-align: center;
}
#header img{
    width: 75%;
    padding-top: 10px;
    height: auto;
}
.article img{
    float: right;
    width: 20%;
    margin-left: 5px;
    border-radius: 5px;
    border: 2px solid white;
    padding: 5px;
    }

[class*="col-"] {
    width: 100%;
    }
@media only screen and (min-width: 768px) {
    [class*="col-"] {
        float: left;
        padding: 15px;
    }
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    #header {
        font-size: 2.5cm;
    }
}
@media only screen and (max-width: 800px) {
    #header {
        font-size: 1.75cm;
    }
}
@media only screen and (max-width: 650px) {
    #header {
        font-size: 1cm;
    }
}
h2{
    text-align: center;
}
figcaption{
    text-align: right;
}
.p1{
    font-style: italic;
}
.a{
    color: aliceblue;
}
.a2{
    color: black;
}
.a:hover, .a2:hover{
    color: red;
}
.menu ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin: 6px;

    background-color: olive;
    color: white;
}
.menu li:hover {
    background-color: green;
 }
section{
    background-color: #e7f7fc;
    width: 91.66%;
    min-height: 300px;
    padding: 20px;
}
.article{
    border: 3px solid midnightblue;
    border-radius: 18px;
    background-color: #84e0fc;
    color: black;
    padding: 20px;
    min-height: 150px;
}
#footer{
    width: 100%;
    height: auto;
    padding: 2px;
    background-color: olive;
    color: aliceblue;
    text-align: center;
    clear: left;
}